<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "Eco_Tourism/blink.html"%}
    {% load static %}
    <!-- Include the CSS file using Django template syntax -->
    <link href="{% static 'Eco_Tourism/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'Eco_Tourism/css/blog_about.css' %}" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
<!--    Navbar on-->
{%include "Eco_Tourism/navbar.html"%}
<!--    Navbar off-->

<div class="container mt-5">
    <strong class="display-4 fw-bold">Sundarban </strong>
    <div class="image-container">
        <img class="img-fluid" src="{% static 'Eco_Tourism/blog_image/sundarban.jpg' %}" alt="Sundarban Image"></div>
    <div class="mt-5">
        <strong class="display-6  fw-bold">About</strong>
        <p class="about_section mt-5">
            The Sundarbans Reserve Forest (SRF), located in the south-west of Bangladesh between the river Baleswar in
            the East and the Harinbanga in the West, adjoining to the Bay of Bengal, is the largest contiguous mangrove
            forest in the world. Lying between latitude 21° 27′ 30″ and 22° 30′ 00″ North and longitude 89° 02′ 00″ and
            90° 00′ 00″ East and with a total area of 10,000 km2, 60% of the property lies in Bangladesh and the rest in
            India. The land area, including exposed sandbars, occupies 414,259 ha (70%) with water bodies covering
            187,413 ha (30%).

            The three wildlife sanctuaries in the south cover an area of 139,700 ha and are considered core breeding
            areas for a number of endangered species. Situated in a unique bioclimatic zone within a typical
            geographical situation in the coastal region of the Bay of Bengal, it is a landmark of ancient heritage of
            mythological and historical events. Bestowed with magnificent scenic beauty and natural resources, it is
            internationally recognized for its high biodiversity of mangrove flora and fauna both on land and water.

            The immense tidal mangrove forests of Bangladeshs’ Sundarbans Forest Reserve, is in reality a mosaic of
            islands of different shapes and sizes, perennially washed by brackish water shrilling in and around the
            endless and mind-boggling labyrinths of water channels. The site supports exceptional biodiversity in its
            terrestrial, aquatic and marine habitats; ranging from micro to macro flora and fauna. The Sundarbans is of
            universal importance for globally endangered species including the Royal Bengal Tiger, Ganges and Irawadi
            dolphins, estuarine crocodiles and the critically endangered endemic river terrapin (Batagur baska). It is
            the only mangrove habitat in the world for Panthera tigris tigris species.
        </p>
        <div class=" image-container">
            <img class="img-fluid mx-auto" src="{% static 'Eco_Tourism/blog_image/Sundarban_Tiger.jpg' %}"
                 alt="Sundarban Image"></div>

    </div>
    <div class="mt-3">
        <strong class="display-6  fw-bold">Challenges</strong>
        <p class="about_section mt-5">
            The Sundarbans presents a range of challenges due to its unique environment. Harsh climate conditions, such
            as monsoon rains and cyclones, create difficulty for both residents and visitors. Rising sea levels and
            riverbank erosion contribute to flooding and habitat loss. Wildlife-human conflicts, especially with Bengal
            tigers, pose safety concerns. Limited infrastructure, including access to clean water and sanitation,
            hinders development. Overfishing and deforestation disrupt the delicate ecosystem. The area's vulnerability
            to climate change, coupled with health risks and limited economic opportunities, further compound the
            challenges. Finding a balance between conservation and sustainable development, alongside effective
            governance and connectivity, is crucial for addressing these complex issues in the
            Sundarbans.
        </p>
        <div class="  image-container">
            <img class="img-fluid mx-auto" src="{% static 'Eco_Tourism/blog_image/sundarban_tree.jpg' %}"
                 alt="Sundarban Image"></div>

    </div>

    <div class="mt-3">
        <strong class="display-6  fw-bold">Tourist Place</strong>
        <div class="row mt-5 gy-3 gx-md-3">
            <div class="col-lg-3 col-sm-6  col-md-5 ">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'Eco_Tourism/blog_image/1s.jpg' %}"
                         style="width: 100%; height: 200px; object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Sajnekhali Wildlife Sanctuary</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'Eco_Tourism/blog_image/2s.jpg' %}"
                         style="width: 100%; height: 200px; object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Sunderbans National Park</h6>
                    </div>
                </div>

            </div>

            <div class="col-lg-3 col-sm-6 col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'Eco_Tourism/blog_image/3s.jpg' %}"
                         style="width: 100%; height: 200px; object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Dobanki Watchtower</h6>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-6  col-md-5">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{% static 'Eco_Tourism/blog_image/4s.jpg' %}"
                         style="width: 100%; height: 200px; object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h6 class="card-title">Henry's Island</h6>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="mt-5">
        <strong class="display-6  fw-bold">Climate</strong>


        <p class="about_section mt-5">
            The Sundarbans, nestled within the Bay of Bengal's delta region, boasts a climate that encapsulates the
            essence of the tropics. Its distinctive geographical location and proximity to the sea profoundly influence
            its weather patterns. Encompassing both India and Bangladesh, this remarkable mangrove ecosystem experiences
            a tropical climate that is both warm and humid throughout the year. The monsoon season, spanning from June
            to September, ushers in heavy rainfall carried by the southwest monsoon winds from the Bay of Bengal. This
            period witnesses abundant precipitation that can lead to flooding. Temperature variations remain relatively
            modest due to its coastal presence, maintaining an average range of 25°C to 35°C (77°F to 95°F) year-round.
            The high humidity levels, surpassing 80% during monsoons, contribute to the region's perpetually damp
            environment. Notably, the Sundarbans contends with the occasional onslaught of tropical cyclones,
            accompanied by torrential rains, powerful winds, and storm surges, causing significant ecological and human
            impact. Its distinctive blend of freshwater river influx and the saline embrace of the Bay of Bengal shapes
            varying salinity levels, intricately shaping the distribution of flora and fauna. Among the diverse array of
            mangrove trees, aquatic life, and wildlife such as Bengal tigers and crocodiles, the climate plays an
            instrumental role, influencing their survival strategies. Regrettably, the vulnerability of the Sundarbans
            to sea-level rise exacerbates the threat posed by climate change. As sea levels rise, the region faces
            heightened salinity levels, land erosion, and habitat loss, underscoring the delicate interplay between the
            Sundarbans' unique climate and its precious ecosystem.
        </p>
        <div class="  image-container">
            <img class="img-fluid mx-auto" src="{% static 'Eco_Tourism/blog_image/climate.jpg' %}"
                 alt="Sundarban Image"></div>
    </div>
    <div class="mt-5">
        <strong class="display-6  fw-bold">Tourists</strong>


        <p class="about_section mt-5">
            Tourists visit the Sundarbans throughout the year, but the peak tourist seasons are generally during the
            winter months and the drier part of the year. The best time to visit the Sundarbans for tourism is typically
            from October to March. During this period, the weather is more pleasant as the monsoon season has ended,
            resulting in lower humidity and milder temperatures. This makes it a more comfortable experience for
            tourists to explore the mangrove forests and engage in various activities.

            The monsoon season, from June to September, is generally avoided by tourists due to the heavy rainfall, high
            humidity, and potential for flooding. The hot and humid summer months, from April to June, might also see
            fewer tourists due to the discomfort caused by the weather.

            It's important to note that the exact timing of tourist visits can vary based on factors like local
            festivals, holidays, and personal preferences. If you're planning to visit the Sundarbans, it's advisable to
            check with local tour operators or travel agencies for the most up-to-date information on the best times to
            visit based on your preferences and the specific activities you'd like to engage in during your trip.
        </p>
        <div class="  image-container">
            <img class="img-fluid mx-auto" src="{% static 'Eco_Tourism/blog_image/tt.jpg' %}"
                 alt="Sundarban Image"></div>
    </div>


</div>


<!--fotter on -->
{%include "Eco_Tourism/Eco_fotter.html"%}
<!--fotter off -->
{%include "Eco_Tourism/bscript.html"%}
</body>
</html>