<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "Eco_Tourism/blink.html"%}
    {% load static %}
    <!-- Include the CSS file using Django template syntax -->
    <link href="{% static 'Eco_Tourism/css/blog.css' %}" rel="stylesheet">
    <title>Blog</title>
</head>
<body>
<!--    Navbar on-->
{%include "Eco_Tourism/navbar.html"%}
<!--    Navbar off-->

<div class="container mt-5">
    <strong class="display-4 fw-bold" >Sundarban </strong>
    <div class="mt-3 ">
        <img class="img-fluid" src="{% static 'Eco_Tourism/blog_image/sundarban.jpg' %}" alt="Sundarban Image"></div>
    <div class="row mt-3">
        <div class="col-lg-9">
        <strong class="display-6 fw-bold">About</strong>



        </div>
        <div class="col-lg-3">
        </div>
    </div>

</div>


<!--fotter on -->
{%include "Eco_Tourism/Eco_fotter.html"%}
<!--fotter off -->
{%include "Eco_Tourism/bscript.html"%}
</body>
</html>