<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%include "Eco_Tourism/blink.html"%}
    <title>Home Page</title>
    <style>
        /* Custom CSS to float the "Contact" item to the right */
        .navbar-nav.ml-auto {
            margin-left: auto;
        }
        .nav-link {
        font-weight: 700;

        }
        a{
        text-decoration:none;
        color:black;
        }

        .card > img{
            height:189px;
        }





    </style>
</head>
<body>
<!--    Navbar on-->
{%include "Eco_Tourism/navbar.html"%}
<!--    Navbar off-->

<!--card on-->
{% load static %}
<div class="container mt-2">
    <div class="row">
        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p1.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2 ">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p2.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p3.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p4.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p5.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p6.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p7.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p8.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p9.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-3 mt-2">
            <a href="#">
                <div class="card" style="width: 18rem;">
                    <img src="{% static 'Eco_Tourism/card_img/p10.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's
                            content.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!--card off-->

<!--fotter on -->
{%include "Eco_Tourism/Eco_fotter.html"%}
<!--fotter off -->



{%include "Eco_Tourism/bscript.html"%}
</body>
</html>