{% load static %}

<style>
    .nav-link {
        font-weight: 700;


        }
        a{
        text-decoration:none;
        color:black;
        }
        .navbar-nav.ml-auto {
            margin-left: auto;
        }
</style>



<nav class="navbar-expand-lg navbar ">
    <div class="container">
        <a class="navbar-brand" href="/Eco_Tourism/">
            <img src="{% static 'Eco_Tourism/logo.svg' %}" alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top ">Eco Tourism
        </a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse   navbar-collapse" id="navbarSupportedContent">

            <div class="row justify-content-center">
                <div class="col-lg-10 d-flex justify-content-center">
                    <form>
                        <input class="form-control mt-sm-2" placeholder="Search your place">
                        <!-- Add any other form elements here -->
                    </form>
                </div>
            </div>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link {{home_active}} "  href="/Eco_Tourism/">Home Page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{eco_tours_active}}" href="eco_tours">Eco-Tours</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{hotels_active}}" href="eco_hotels">Hotels</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{blog_active}}"  href="blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Travel_Tips">Responsible Travel Tips</a></li>
                        <li><a class="dropdown-item" href="Photo_and_Videos">Photo Gallery and Videos</a></li>
                        <li><a class="dropdown-item" href="Sustainability">Sustainability Initiatives</a></li>
                        <li><a class="dropdown-item" href="Booking">Booking and Reservations</a></li>
                        <li><a class="dropdown-item" href="Testimonials">Testimonials</a></li>
                        <li><a class="dropdown-item" href="About_Us">About Us</a></li>
                        <li><a class="dropdown-item" href="Contact">Contact</a></li>
                    </ul>

            </ul>

        </div>
    </div>
</nav>