<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shop me</title>
    <!-- Include Bootstrap CSS link -->
    {%include "shop/blink.html"%}

</head>

<body>
<!--  nav on-->
{%include "shop/shop_nav.html"%}
<!--nav off-->
<!--carousel on -->



<div id="carouselExampleControls" class="carousel carousel-dark mt-2 slide" data-bs-ride="carousel">

    <div class="carousel-inner">

        {% for prod in products %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="card-wrapper container-sm d-flex justify-content-around">
                    {% for item in products %}
                        <div class="card" style="width: 18rem;">
                            <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.products_name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ item.products_name }}</h5>
                                <p class="card-text">{{ item.products_information }}</p>
                                <p class="card-text">{{ item.price }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>







<!--  <div id="carouselExampleControls" class="carousel carousel-dark mt-2 slide" data-bs-ride="carousel">-->

<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <div class="card-wrapper container-sm d-flex  justify-content-around">-->
<!--          <div class="card  " style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{products.products_name}}</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="card  " style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="card" style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="card" style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <div class="carousel-item">-->

<!--        <div class="card-wrapper container-sm d-flex   justify-content-around">-->
<!--          <div class="card  " style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--              <button type="button" class="btn btn-primary">Primary</button>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card  " style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--          <div class="card" style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="card" style="width: 18rem;">-->
<!--            <img src="https://source.unsplash.com/collection/190727/1600x900" class="card-img-top" alt="...">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">Card title</h5>-->

<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




<!--      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">-->
<!--        <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Previous</span>-->
<!--      </button>-->
<!--      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">-->
<!--        <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--        <span class="visually-hidden">Next</span>-->
<!--      </button>-->
<!--    </div>-->
<!--</div>-->


{{products.products_name}}

<!--carousel end-->
{%include "shop/bscript.html"%}
</body>
</html>