<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Qrcode</title>
    {%include "shop/blink.html"%}
</head>
<body>
{%include "shop/shop_nav.html"%}


<div class="container">
    {%load static%}
    {% if img %}
        <img src="{% static 'qrimg/Qrimg.jpg' %}">
    {% else %}
        <form action="{% url 'qrcode' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Enter your text to Generate</label>
                <input type="text" name="data" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                {% if error %}
                <h5 style="color:red;">{{ error }}</h5>
                {%endif%}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    {% endif %}
</div>


{%include "shop/bscript.html"%}
</body>
</html>